/* Hide scrollbar for Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  
  /* Hide scrollbar for Firefox */
  html {
    scrollbar-width: none;
  }
  
  /* Hide scrollbar for IE + old Edge */
  body {
    -ms-overflow-style: none;
  }
  